[project]
	description = Hands-on Lab: JHipster, the best way to breed a new webapp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hannes Nyberg (hnyberg)
[access "refs/for/refs/*"]
	read = group user/Hannes Nyberg (hnyberg)
	push = group user/Hannes Nyberg (hnyberg)
	label-Code-Review = -2..+2 group user/Hannes Nyberg (hnyberg)
	label-Verified = -1..+1 group user/Hannes Nyberg (hnyberg)
	rebase = group user/Hannes Nyberg (hnyberg)
	removeReviewer = group user/Hannes Nyberg (hnyberg)
	submit = group user/Hannes Nyberg (hnyberg)
[access "refs/heads/*"]
	read = group user/Hannes Nyberg (hnyberg)
	create = group user/Hannes Nyberg (hnyberg)
	push = +force group user/Hannes Nyberg (hnyberg)
	pushMerge = group user/Hannes Nyberg (hnyberg)
[access "refs/tags/*"]
	push = +force group user/Hannes Nyberg (hnyberg)
	pushTag = group user/Hannes Nyberg (hnyberg)
	pushSignedTag = group user/Hannes Nyberg (hnyberg)
