<div>
    <h2 translate="jhipsterholApp.hipsterPoi.home.title">HipsterPois</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="hipsterPoi.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="jhipsterholApp.hipsterPoi.home.createLabel">Create new HipsterPoi
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="jhipsterholApp.hipsterPoi.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adress"><span translate="jhipsterholApp.hipsterPoi.adress">Adress</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span translate="jhipsterholApp.hipsterPoi.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span translate="jhipsterholApp.hipsterPoi.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.firstName"><span translate="jhipsterholApp.hipsterPoi.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hipsterPoi in hipsterPois track by hipsterPoi.id">
                    <td><a ui-sref="hipsterPoi.detail({id:hipsterPoi.id})">{{hipsterPoi.id}}</a></td>
                    <td>{{hipsterPoi.title}}</td>
                    <td>{{hipsterPoi.adress}}</td>
                    <td>{{hipsterPoi.latitude}}</td>
                    <td>{{hipsterPoi.longitude}}</td>
                    <td>
                        {{hipsterPoi.user.firstName}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="hipsterPoi.detail({id:hipsterPoi.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="hipsterPoi.edit({id:hipsterPoi.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="hipsterPoi.delete({id:hipsterPoi.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
