
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHipsterPoiLabel" translate="jhipsterholApp.hipsterPoi.home.createOrEditLabel">Create or edit a HipsterPoi</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="hipsterPoi.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterholApp.hipsterPoi.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="hipsterPoi.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterholApp.hipsterPoi.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress"
                    ng-model="hipsterPoi.adress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterholApp.hipsterPoi.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="hipsterPoi.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterholApp.hipsterPoi.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="hipsterPoi.longitude"
                     />
        </div>

        <div class="form-group">
            <label translate="jhipsterholApp.hipsterPoi.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="hipsterPoi.user" ng-options="user as user.firstName for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="jhipsterholApp.hipsterPoi.type" for="field_type">type</label>
            <select class="form-control" id="field_type" multiple name="type" ng-model="hipsterPoi.types" ng-options="type as type.title for type in types track by type.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
